build/
.vs/Pluralsight_sqlite/v15/ipch/AutoPCH/99b5fa63977602c2/MAIN.ipch
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Pluralsight_sqlite/v15/.suo
.vs/Pluralsight_sqlite/v15/Browse.VC.db
.vs/Pluralsight_sqlite/v15/ipch/AutoPCH/1c50c636c7181635/MAIN.ipch
.vs/Pluralsight_sqlite/v15/ipch/AutoPCH/6416db57c64699ec/MAIN.ipch
